.top-menu-account {
  height: 35px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.top-account-options {
  position: absolute;
  z-index: 2;
  background-color: #efefef;
  top: 36px;
  right: -18%;
  display: none;
  padding: 0.8em;
}
.top-menu-up {
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 20px solid #efefef;
  position: absolute;
  top: -5px;
  left: 0;
}

.top-account-options ul {
  padding: 0;
  position: relative;
}
.top-account-options li {
  font-size: 14px;
  margin-bottom: 0.8em;
}
.top-account-options a {
  color: #333333;
}
.top-account-options.top-account-unfold {
  display: flex;
  flex-direction: column;
}
.top-account-profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 0 0 20%;
}
.account-person-icon {
  margin-right: 10px;
}
.title-menu-account-top {
  text-align: start;
}
.top-account-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  font-size: 0.9em;
  font-family: "Rubik", sans-serif;
}
.top-account-icon:hover {
  border: 1px solid white;
}

.top-account-icon span {
  margin-left: 0.3rem;
  font-size: 0.9em;
}
.buttons-menu-account {
  margin-top: 10px;
}
.login-button-account {
  background-color: aquamarine;
  color: black;
  border: none;
  outline: none;
  border-radius: 3px;
  height: 25px;
  margin-bottom: 10px;
}
.create-button-account {
  background-color: aquamarine;
  color: black;
  border: none;
  outline: none;
  border-radius: 3px;
  height: 25px;
}
@media screen and (max-width: 768px) {
  .top-account-icon span {
    display: none;
  }
}
