.footer {
  background-color: #333333;
  width: 100%;
  height: auto;
  color: white;

  /* padding: 2em; */
}
.footer-container {
  grid-area: we;
  padding: 20px;
}
.footer-capture {
  margin: 0 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 85% 15%;
  grid-template-areas:
    "we info others"
    "links links links";
  width: 100%;
  height: auto;
}
.footer-logo-cotki {
  height: 50px;
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.footer-logo-cotki > img {
  height: 100%;
}
.logo img {
  height: 100%;
  width: auto;
}
.footer-description {
  font-size: 0.9em;
  color: rgb(231, 231, 231);
  margin: 0.8em;
}
.footer-info {
  padding: 20px;
  text-align: center;
  grid-area: info;
}
/* .footer-info h4 {
  margin: 0 10px 10px 10px;
} */
.footer-info > div > div > a {
  font-size: 15px;
  line-height: 20px;
  color: whitesmoke;
}
.footer-info > div > div {
  line-height: 1.5;
}
.footer-info > div > div > a:hover {
  text-decoration: underline;
}
.footer-others {
  padding: 20px;
  text-align: center;
  grid-area: others;
}
.footer-others > div > div > a {
  font-size: 15px;
  color: aliceblue;
}
.footer-others > div > div {
  line-height: 1.5;
}
.footer-others > div > div > a:hover {
  text-decoration: underline;
}
.footer-legal {
  grid-area: legal;
}
.footer-links {
  grid-area: links;
}
.footer-links-after {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  align-items: center;
}
.links > a {
  color: white;
  font-size: 0.7em;
}
.footer-lines {
  position: absolute;
}
.links > a:hover {
  color: gray;
  text-decoration: underline;
}
.footer-network {
  display: flex;
}
.network-item {
  margin: 0.5em;
}
