.top-menu-cart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.top-counter-cart {
  margin-left: 10px;
  font-size: 0.9em;
}
.top-menu-cart-image {
  height: 30px;
  width: 30px;
}
@media screen and (max-width: 320px) {
  .top-menu-cart-image {
    height: 25px;
    width: 25px;
  }
}
