.top-navbar {
  color: #fff;
  background: #333333;
  padding: 0 2em;
  margin: 0;
  text-align: center;
  height: 60px;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 60px;
  grid-gap: 5px;
  align-items: center;
  grid-template-areas: "brand brand form form form form form form form form form form form  account account  cart ";
}

.menu-search {
  display: block;
  grid-area: form;
  padding-left: 4vw;
  padding-right: 4vw;
}
.menu-account {
  grid-area: account;
  display: flex;
  align-items: center;
  height: 100%;
  color: #f3f3f3;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.menu-cart {
  grid-area: cart;
}
@media screen and (max-width: 768px) {
  .top-navbar {
    display: flex;
  }
  .menu-account {
    margin-left: 50%;
    margin-right: 15px;
  }
}
@media screen and (max-width: 480px) {
  .menu-search {
    display: none;
    margin-left: 4vw;
    margin-right: 4vw;
  }
  .top-navbar {
    padding: 0 1em;
    grid-gap: 12px;
    height: 50px;
    align-content: center;
  }
}
@media screen and (max-width: 320px) {
  .top-navbar {
    grid-template-areas: " brand brand brand brand brand brand  brand brand brand account account account cart cart cart cart";
    grid-gap: 0;
  }
}
