.layout-home-container {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 100%;
  margin: 1.7em 2em;
}
.layout-home-hooks {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
