.button-for-searching {
  background-color: #ff6948;
  border: none;
  height: 35px;
  width: 45px;
  right: 0;
  position: absolute;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
  z-index: 1;
}
.hidden {
  display: none;
}
.button-searching-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.button-searching-container:hover {
  background: #ff3e11;
}
.button-searching-text {
  background-image: url("http://192.168.1.11:8080/src/assets/static/images/search_icon.svg");
  /* // background-position: 10px 8px; */
  background-repeat: no-repeat;
  background-size: cover;
  width: 23px;
  height: 23px;
  text-indent: -600px;
  position: absolute;
  white-space: nowrap;
  top: 5px;
  left: 10px;
}
.button-searching-input {
  position: relative;
  display: block;
  background-color: #ff6948;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline-style: none;
  text-indent: -1000px;
  background: 0 0;
  appearance: button;
  transition: all 0.1s;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .button-for-searching {
    height: 35px;
    width: 33px;
    right: 5px;
  }
  .button-searching-text {
    background-position: -2px 0px;
    background-size: 25px;
  }
}
@media screen and (max-width: 600px) {
  .button-for-searching {
    right: -5px;
  }
}
