.top-submenu-container {
  background-color: #282b33;
  width: 100%;
  height: 28px;
  padding: 0 2em;
  margin: 0;
  display: flex;
}
.top-submenu-address {
  display: flex;
  justify-content: flex-start;
  width: 10vw;
  align-items: center;
  height: 100%;
}
.top-submenu-location {
  margin: 0 5px 0 10px;
}
.top-submenu-city {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  color: #e3e1e1;
}
@media screen and (max-width: 480px) {
  .top-submenu-container {
    padding: 0 0.5em;
    height: 30px;
  }
}
